<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Garden</title>
</head>
<body>
    <h1>Garden Data From Sensors</h1>
   <div>
        <h2>Temperature (Celsius)</h2>
        <p id="temperature"></p>

        <h2>Humidity (%)</h2>
        <p id="humidity"></p>

        <h2>Light Intensity (0 - 255)</h2>
        <p id="light"></p>
   </div>

   <h1>Weather Data From API</h1>
   <div>
        <h2>Current Weather</h2>
        <p id="weather"></p>

        <h2>Cloudiness (%)</h2>
        <p id="cloudiness"></p>
   </div>

   <h1>Press Button to Water the Garden</h1>
   <button id="water">Water Garden</button>
</body>
</html>

<script>
    // Function for periodically and dynamically updating data on webpage using AJAX
    function fetchData() {
        fetch('/get-data')
        .then(response => response.json())
        .then(data => {
            for (let x in data)
            {
                document.getElementById(x).innerText = data[x];
            }
        });
        setTimeout(fetchData, 5000);
    }

    // Handling for when "Water-graden" button is pressed
    document.getElementById('water').addEventListener('click', function(){
        fetch('/water-garden', {method : 'POST'})
        .then(response => {
            if (response.ok){
                console.log("Garden Successfuly watered.")
            }
        })
        .catch(error => console.error(error));
    });

    fetchData();
</script>